.singlePost{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.post-title{
    line-height: 100px;
    text-align: center;
    font-size: 33px;
}
.post-date h2{
    opacity: 0.7;
}
.post-author{
    font-size: 25px;
    text-align: center;
}
.post-para {
    display: flex;
    align-items: center; 
    gap: 5px; 
  }
  
  .post-para2 {
    
    font-weight: bold; 
    color: #23ce09; 
    background-color: rgba(13, 29, 1, 0.1); 
    padding: 2px 6px;
    border-radius: 4px;

  }
  .edit-btn{
    padding: 10px 25px 10px 25px;
    font-size: 17px;
    color: white;
    background-color: #23ce09;
    
    border-style: none;
    border-radius: 25px 5px 25px 5px;
    margin-bottom: 25px;
  }
  #icon{
    margin-right: 10px;
  }
  .post-image img{
    width: 1000px;
    
  }

  .post-content {
    margin-top: 10px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    max-width: 100%;
  }
  
  .post-content p {
    color: #070707;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    white-space: pre-line;
  }
  